# Node
node_modules/
npm-debug.log*
yarn-error.log

# Expo
.expo/
expo-env.d.ts
dist/

# Native
*.apk
*.aab
*.jks
*.pem
*.keystore

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Local env
.env.local
.env.production

# Build outputs
build/
android/
ios/

# Metro
metro-error.log